@import '../config';

// GENERAL PROJECT STYLES
body {
	font-family: $font-family;
	min-width: 320px;
	background-color: $bg-color;
	color: $white;
}

.page {
	position: relative;
	margin-bottom: -10px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	z-index: 1;

	&__ball,
	&__logo {
		position: absolute;
		z-index: -1;

		&--left {
			left: 0;
			top: 0;
		}

		&--right {
			right: 0;
			top: 0;
		}
	}

	&__logo {
		&--html {
			right: 30px;
			top: 29.4%;
		}
		&--css {
			right: 9.2%;
			top: 41.2%;
		}
		&--js {
			right: 22px;
			top: 49.3%;
		}
		&--s {
			right: 10.5%;
			bottom: 32.5%;
		}
		&--vs {
			bottom: 23.3%;
			right: 56px;
		}
	}
}

.wrapper {
	width: min(100%, 960px); // instead of max-width
	margin-inline: auto; // instead of margin: 0 auto;
	padding: 0 16px;
}

.bg-text {
	font-size: 129.36px;
	font-weight: 800;
	text-transform: uppercase;
	white-space: nowrap;
	width: 100%;
	text-align: center;
	overflow: hidden;
	color: $bg-color;
	-webkit-text-fill-color: $bg-color;
	-webkit-text-stroke: 1.8px rgba($white, $alpha: 0.05);
	line-height: 0.8;
	margin-top: 40px;
	margin-top: auto;

	h2 {
		margin-top: 52px;
		margin-bottom: -18px;
	}
}
