@import '../config';

.home-section {
	margin: auto;

	@include tablet {
		padding-bottom: 59px;
	}
}

.form-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	@include tablet {
		flex-direction: column;
	}

	.title {
		width: min(100%, 427px);

		&--mobile {
			display: none;

			@include tablet {
				display: block;
				margin-top: 36px;
				display: flex;
				flex-direction: column-reverse;
			}
		}

		&--desktop {
			margin-top: 62px;

			@include tablet {
				display: none;
			}
		}
	}
}

.title {
	@include tablet {
		text-align: center;
	}

	&__img {
		font-weight: 600;
		padding: 6px 14px 7px;
		border-radius: 5px;
		background-color: #4252d1;
		display: inline-flex;
		align-items: center;

		@include tablet {
			font-size: 12px;
			padding: 5px 10px;
			border-radius: 3px;
			margin-right: 14px;
		}

		img {
			margin-right: 6px;

			@include tablet {
				width: 14px;
				margin-right: 5px;
			}
		}
	}

	&__name {
		font-size: 77px;
		font-weight: 800;
		color: $highlight-color;
		text-transform: uppercase;
		white-space: nowrap;

		@include tablet {
			font-size: 52.73px;
		}
	}

	&__desc {
		font-size: 21.95px;
		font-weight: 600;
		margin-bottom: 26px;

		@include tablet {
			font-size: 15px;
			margin-top: -1px;
			margin-bottom: 17px;
		}

		span {
			position: relative;
			padding: 4px 13px 5px;
			display: inline-block;
			font-size: 23.64px;
			font-weight: 800;
			text-transform: uppercase;
			margin-right: 12px;

			@include tablet {
				font-size: 16px;
				padding-left: 10px;
				padding-right: 10px;
			}

			&::before {
				content: '';
				display: block;
				background-color: $highlight-color;
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 5px;
				top: 0;
				left: 0;
				z-index: -1;
				transform: rotate(-3.51deg);

				@include tablet {
					border-radius: 3.57px;
					transform: rotate(-3.49deg);
				}
			}
		}
	}

	&__text {
		font-size: 18px;
		line-height: 148%;

		@include tablet {
			font-size: 14px;
			margin-bottom: 21px;
		}

		span {
			font-weight: 600;
		}
	}
}

.person {
	display: flex;

	&:not(:last-child) {
		margin-bottom: 16px;

		@include tablet {
			margin-bottom: 0;
			margin-top: 18px;
		}
	}

	&__img {
		flex-shrink: 0;
		width: 51px;
		margin-right: 17px;

		@include tablet {
			margin-right: 11px;
		}
	}

	&__text {
		font-size: 12px;

		@include tablet {
			max-width: 162px;
		}

		&-name {
			font-size: 13px;
			text-transform: uppercase;

			span {
				color: #4252d1;
			}
		}
	}

	h2 {
		font-weight: 700;
		margin-bottom: 1px;

		@include tablet {
			font-size: 14px;
			margin-bottom: 4px;
		}
	}

	p {
		line-height: 148%;
	}

	&--name {
		.person__img {
			margin-top: -2px;
		}

		p {
			line-height: 160%;
		}
	}

	&--gift {
		.person__img {
			margin-top: 5px;

			img {
				@include tablet {
					width: 45px;
				}
			}
		}

		h2 {
			margin-bottom: 5px;
		}

		p {
			max-width: 215px;
		}
	}
}

.form {
	width: min(100%, 366px);
}

form {
	background-color: $form-bg-color;
	border-radius: 10px;
	padding: 50px 58px;

	@include tablet {
		box-shadow: 0 8.96px 44.81px rgba(#287fa5, 0.1);
		padding: 40px 21px;
	}

	h2 {
		text-align: center;
		font-size: 22px;
		line-height: 26px;
		font-weight: 700;
		margin-bottom: 20px;

		@include tablet {
			line-height: 23.3px;
			font-size: 20px;
			max-width: 238px;
			margin-inline: auto;
			margin-bottom: 18px;
		}

		span {
			color: $highlight-color;
		}
	}

	label {
		margin-bottom: 14px;
		display: block;
		padding: 13px 23px;
		color: #d7d7d7;
		background-color: #272d3d;
		border-radius: 5px;
		font-size: 13px;
		height: 51px;
		cursor: pointer;
		display: flex;
		align-items: center;

		@include tablet {
			color: $white;
			font-size: 12px;
			padding-left: 26px;
			height: 46px;
		}
	}

	[type='submit'] {
		background-color: $highlight-color;
		width: 100%;
		text-align: center;
		padding: 16px 10px 17px;
		font-size: 15px;
		border-radius: 5px;
		font-weight: 700;

		@include tablet {
			background-color: #0048ff;
			width: auto;
			margin-inline: auto;
			padding: 14px 35px;
			font-size: 14px;
		}

		&:hover {
			opacity: 0.7;
		}
	}
}

.form-action {
	@include tablet {
		text-align: center;
	}
}

.form-policy {
	text-align: center;
	color: rgba($white, 0.5);
	font-size: 12px;
	font-weight: 500;
	line-height: 149%;
	margin-top: 21px;

	@include tablet {
		font-size: 11px;
	}

	a {
		text-decoration: underline;
		display: inline-block;

		&:hover {
			text-decoration: none;
		}
	}
}
